{
  "tenantUrl": "https://your-domain.id.forgerock.io",
  "apiKey": "thisisyourapikey",
  "apiSecret": "thisisyourapisecret",
  "trees": ["My-Login-Tree", "My-Forgot-Password-Tree", "..."] // optional, only used if specify --all-trees
}